#index-banner {
    height: calc(100vh - 64px);
    background: rgb(0,0,0);
    position: relative;

    .background {
        position: absolute;
        height: calc(100vh - 64px);
        width: 100%;
        opacity: 0.5;
        background: url("../media/emlyon1926.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    .content {
        position: absolute;
        height: calc(100vh - 64px);
        margin-top: 0;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .btn-large {
            background-color: #E1021A;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);

            &:hover {
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
            }
        }

        a {
            margin: 20px;
            width: 90%;
        }
    }
}

@media only screen and (min-width : 600px) {
    #index-banner .section {
        margin-top: 50px;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        margin-top: -20px;
    }

    #index-banner a {
        margin: 10px;
    }
}
