.main{
    p {
        line-height: 2rem;
    }

    h1 {
        font-weight: 600;
    }

    #what, #when {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .parallax-container {
        min-height: 200px;
        line-height: 0;
        // height: auto;
        color: rgba(255,255,255,.9);

        &.valign-wrapper{
            height:auto;
        }

        .section {
            width: 100%;
        }
    }

    .icon-block {
        padding: 0 15px;

        .material-icons {
            font-size: inherit;
        }
    }

    .highlight .agenda tr:hover{
        color: #d80f0f;
        cursor:pointer;
    }

    .underlined{
        border-bottom: solid 1px lightgrey;
        padding-bottom: 15px !important;
    }
}
