.navbar-fixed{
    nav ul a, nav .brand-logo {
        color: rgb(226,0,26);
    }

    img {
        margin-top: 12px;
        height: 40px;
    }
}

#sidenav-overlay{
    // display: none;
    z-index: 20;
}
