nav ul a,
nav .brand-logo {
  color: #d80f0f;
}

p {
  line-height: 2rem;
}

h1 {
  font-weight: 600;
}

video#bgvid {
    position: relative;
    top: 30%;
    left: 50%;
    width: 100%;
    z-index: -1000;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#video-container{
    background: url(media/background2.jpg) no-repeat center center fixed;
    background-size: cover;
}

.button-collapse {
  color: #d80f0f;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
    .section {
      width: 100%;
    }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
    .material-icons {
      font-size: inherit;
    }
}

.highlight .agenda tr:hover{
  color: #d80f0f;
  cursor:pointer;
}

footer.page-footer {
  margin: 0;
}

.underlined{
  border-bottom: solid 1px lightgrey;
  padding-bottom: 15px !important;
}
